/*import 'action' font*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*code for h1 neon font styling*/
.neon {
    color: #fff;
    text-shadow:
      0 0 5px pink,
      0 0 10px pink,
      0 0 20px pink,
      0 0 40px pink,
      0 0 80px pink,
      0 0 90px pink,
      0 0 100px pink,
      0 0 150px pink;
  }
  
:root {
    font-size: calc(1vw + 1vh + 1.5vmin);
  }
  
  html, body {  
    margin: 0;
  }
  
  .h1-container {
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }

  body {
    display: flex;
    justify-content:center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #010a00;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    font-size: 1rem;
  }
  
  .container{
      background: black;
      margin: 50px;
      padding: 50px;
     
  }

  .action{
      
      font-family:'Press Start 2P', cursive;
      font-size: 15px;
      color: yellow;
        
  }

  .reset{
      cursor: pointer;
      position: absolute;
      right: 100px;
      top:101px;
  }

  .reset:hover{
      color: grey;
  }

  .game{
    background: #ccff15;
    margin-top: 60px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3.5px;
}

.game-cell{
    height: 115px;
    width:115px;
    background:black;
    cursor: pointer;
}

/*appears when 'x' user clicks on square*/
.x::after{
    content: '✕';
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
    color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
/*appears when 'o' user clicks on square*/
.o::after{
    content:'○';
    font-size: 90px;
    display: flex;
    justify-content: center;
    margin-top: -8px;
    color:#fff;
    text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    
}